* { margin: 0; padding: 0; box-sizing: border-box; }

body { display: grid; place-items: center; height: 100vh; }

#carousel-items { display: flex; scroll-snap-type: x mandatory; 
		 --webkit-overflow-scrolling: touch; scroll-behavior: smooth; overflow: hidden;}

#carousel-wrapper { width: 50vw; position: relative; left: 20em; top: 7em;}

.carousel-img { flex: none; width: 34%; height: 400px; object-fit: cover; 
		scroll-snap-align: start; pointer-events: none; }

.carousel-angle-left { position: relative; bottom: 3.5em; right: 1em; }

.carousel-angle-right { position: relative; bottom: 3.5em; left: 10.3em; }