.conteudo-sobre { height: 14.4%; background: linear-gradient(rgba(0,0,0,0.5), 
			rgba(0,0,0,0.5)),url('../img/sobre_00.jpg')no-repeat center/cover; height: 650px; }
		
		.sobre-titulo { z-index: 10; position: relative; top: 100px; left: 320px; color: #fff;
								font-family: 'Lobster', cursive; font-size: 3em; }
		
		.conteudo img { height: 300px; }
		
		.sobre-img-wrapper { display: flex; position: relative; left: 270px;}

		.sobre-img-1 { display: flex; color: #fff; position: relative; left: 50px; top: 150px; 
					width: 600px; border: 1px solid #fff; border-radius: 5px; line-height: 1.4em;
					height: 302px;}
		
		.sobre-img-1 p { font-size: 1.2em; width: 80%; position: relative; left: 50px; bottom: 10px;
					padding-top: 2em; }
			.taynara { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }