body 
{ padding: 0; margin: 0; overflow-x: hidden; }

.wrapper 
{ height: 5500px; overflow: hidden; display: grid; 
	grid-template-areas: 'nav' 'main' 'section' 'footer'; 
	grid-template-rows: 2% 14% 77% 10%; position:relative;
	min-height: 100%; }


/* ------------------------ Seção Navegação --------------------------------------*/
.navegacao 
{ grid-area: nav; display: flex; font-family: 'Roboto', sans-serif; }

	.navegacao-lista 
	{ display: flex; margin-left: 20em; position: relative; top: 1em; }

	.logo 
	{ margin-left: 2em; position: relative; top: 20px; }

	.navegacao-lista li a 
	{ text-decoration: none; color: #ffba93; }

	.navegacao-lista li 
	{ margin-right: 5em; list-style: none; }

	.logo img 
	{ position: relative; bottom: 40px; }

	.navegacao-lista li a:hover 
	{ color: #ff8e71; }

	.logo a 
	{ color: #ffba93; }	
/* ----------------------------------- Fim da seção navegação -------------------/*
	

	
/* ------------------------------------- Seção Destaque -------------------------*/
.destaque 
{ grid-area: main; background: url('../img/alma_11.jpeg')no-repeat bottom/cover; }

	.whatsapp_icon 
	{ height: 50px; position: fixed; left: 90%; top: 85%; z-index: 9999; 
		cursor: pointer; border: 0; text-decoration: none; 
		transition: opacity 0.2s ease-out; font-size: 30px; 
		-webkit-transition: all .3s ease-in-out; 
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out; 
		-o-transition: all .3s ease-in-out; 
		transition: all .3s ease-in-out; }

	.svg 
	{ position: relative; top: 550px; }

	.whatsapp 
	{ color: green; height: 50px; }
/* -------------------------------- Fim da secao Destaque -------------------------*/    



/* ------------------------------------- Conteudo -------------------------------*/
.conteudo 
{ grid-area: section; }

	.conteudo-produtos 
	{ height: 16.7%; }

		.btn-loja 
		{ position: relative; left: 550px; top: 100px; border: none; 
			border-radius: 30px; background: tomato; color: #fff; padding: 1em; 
			font-weight: bold; font-family: 'Lobster', cursive; font-size: 1.3em; }

		.conteudo-titulo 
		{ z-index: 10; position: relative; top: 50px; left: 180px; 
			color: tomato; font-family: 'Lobster', cursive; font-size: 3em; }

		.btn-loja:hover 
		{ text-decoration: none; color: tomato; background: #fff; 
			border: 1px solid tomato; }
/* ---------------------------------- Fim Conteudo ---------------------------------*/



/* -----------------------------------  Conteudo Sobre -----------------------*/
	.conteudo-sobre 
	{ height: 14.4%; background: linear-gradient(rgba(0,0,0,0.5), 
		rgba(0,0,0,0.5)),url('../img/sobre_00.jpg')no-repeat center/cover; 
		height: 650px; }

		.sobre-img-1 
		{ display: flex; color: #fff; position: relative; left: 50px; 
			top: 150px; width: 600px; border: 1px solid #fff; border-radius: 5px; 
			line-height: 1.4em; height: 300px; }

		.sobre-img-2 
		{ display: flex; color: #fff; position: relative; left: 100px; 
			top: 150px; width: 600px; border: 1px solid #fff; border-radius: 5px; 
			line-height: 1.4em; height: 300px;}

		.sobre-titulo 
		{ z-index: 10; position: relative; top: 100px; left: 330px; 
			color: #fff; font-family: 'Lobster', cursive; font-size: 3em; }

		.taynara 
		{ border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

		.sobre-img-1 p 
		{ font-size: 1em; width: 80%; position: relative; left: 50px; 
			top: 10px; }

		.sobre-img-wrapper 
		{ display: flex; position: relative; left: 270px; }

		.sobre-img-2 p 
		{ font-size: 1em; width: 80%; position: relative; 
			left: 50px; top: 10px; }		

		.conteudo img 
		{ height: 300px; }
/* ------------------------------------- Fim conteudo Sobre -------------------*/



/* ------------------------------------- Conteudo cta --------------------------------*/
	.conteudo-cta 
	{ height: 50%; }		

		.cta-titulo 
		{ position: relative; left: 350px; top: 100px; font-size: 3em; 
			color: tomato; font-family: 'Lobster', cursive; }

		.container-cta-01, 
		.container-cta-02, 
		.container-cta-03, 
		.container-cta-04 
		{ display: flex; position: relative; top: 200px; }

		.img-cta, 
		.img-cta-02, 
		.img-cta-03, 
		.img-cta-04 
		{ z-index: 10; }

		.container-cta-01 img, 
		.container-cta-02 img, 
		.container-cta-03 img, 
		.container-cta-04 img 
		{ border-radius: 10px; }

		.container-cta-01, 
		.container-cta-02, 
		.container-cta-03, 
		.container-cta-04 
		{ position: relative; margin-bottom: 4em; left: 100px; }

		.texto-cta-01, 
		.texto-cta-02, 
		.texto-cta-03, 
		.texto-cta-04 
		{ background: #fff; height: 200px; top: 50px; 
			box-shadow: 10px 10px 10px rgba(0,0,0,0.09); border-radius: 10px;
			width: 700px; color: tomato; text-align: center; padding: 0 4em; }

		.texto-cta-01, 
		.texto-cta-03 
		{ position: relative; right: 50px; }

		.texto-cta-02, 
		.texto-cta-04 
		{ position: relative; left: 50px; }

		.cta-paragrafo, 
		.cta-paragrafo-02, 
		.cta-paragrafo-03, 
		.cta-paragrafo-04 
		{ font-size: 1.5em; position: relative; top: 3em; left: 30px; 
			font-family: 'Roboto', sans-serif; font-weight: bold; }

		.btn-cta 
		{ position: relative; left: 600px; top: 300px; border: none; 
			border-radius: 30px; background: tomato; color: #fff; padding: 1em; 
			font-weight: bold; font-family: 'Lobster', cursive; font-size: 2em; }

		.btn-cta:hover 
		{ color: #fff; }
/* ---------------------------------- Fim conteudo cta -------------------------------/*



/* --------------------------- Seção depoimentos -------------------------------*/
.depoimentos 
{ height: 19%; background: linear-gradient(rgba(0,0,0,0.5), 
	rgba(0,0,0,0.5)),url('../img/rodape_00.jpg')no-repeat bottom/cover; color: #fff; }

	.depoimentos-titulo 
	{ z-index: 10; position: relative; top: 80px; 
		left: 550px; color: #fff;font-family: 'Lobster', cursive; font-size: 3em; }

	.card_depoimento 
	{ display: flex; position: relative; top: 200px; left: 100px; }

	.card_depoimento img 
	{ margin-right: 7em; border-radius: 30px; }
/* ------------------------- Fim da seção depoimentos --------------------------*/



/*  ------------------------- Rodape -------------------------------------------*/
.rodape 
{ grid-area: footer; font-family: 'Roboto', sans-serif; background: #654062; 
			border-top: 3px solid #fff; }

	.rodape-lista 
	{ position: relative; top: 50px; list-style: none; color: #fff; }

	.social-media 
	{ position: relative; left: 89.5%; bottom: 450px; }

	.rodape img 
	{ position: relative; left: 600px; bottom: 200px; 
		border-radius: 50%; }

	.copyright 
	{ position: relative; left: 410px; bottom: 50px; 
		color: #fff; }

	.primeiro-item, 
	.contato 
	{ font-size: 1.2em; font-weight: 800; color: #fff; 
		text-decoration: none; }

	.rodape-lista li:nth-child(3) 
	{ padding-top: 1em; }

	.envelope, 
	.phone, 
	.email 
	{ color: tomato; margin-left: 1em; }

	.ads:hover 
	{ text-decoration: underline; }

	.rodape-lista li 
	{ margin-bottom: 1em; }

	.ads 
	{ position: relative; top: 50px; }

	.instagram 
	{ color: #fff; }

	.rodape-lista li a,
	.endereco,  
	.sedex, 
	.ads 
	{ color: #fff; }
	/* ------------------------------ Fim rodapé ------------------------------------*/



	/*--------------------------------  MEDIA QUERIE ----------------------------------*/

@media (max-width: 600px) {

	/* Wrapper */
	.wrapper 
	{ height: 7500px; overflow: hidden; display: grid; 
		grid-template-areas: 'nav' 'main' 'section' 'footer'; 
		grid-template-rows: 2% 14% 77% 10%; position:relative;
		min-height: 100%; }
	/* Fim Wrapper */



	/* Navegação */
	.logo 
	{ position: relative; left: 19em; }

	.logo img 
	{ height: 100px; width: 100px; top: 30px; }

	.navegacao-itens 
	{ position: relative; left: 20em; font-size: 1.2em; }

	.navegacao-lista li 
	{ margin-right: 1.7em; }

	.navegacao-lista li:nth-child(2),
	.navegacao-lista li:nth-child(3),
	.navegacao-lista li:nth-child(5) 
	{ width: 200px; }

	.navegacao-lista li:nth-child(2)
	{ left: 10px; }

	.navegacao-lista li:nth-child(4) 
	{ right: 400px; top: 70px; }

	.navegacao-lista li:nth-child(5)
	{ right: 350px; top: 70px; }
	/* Fim Navegação */



	/* destaque */
	.svg 
	{ left: 23em; top: 950px; }

}

	

	

