


body 
{ padding: 0; margin: 0; overflow-x: hidden; }

	.wrapper 
	{ height: 3280px; overflow: hidden; display: grid; 
		grid-template-areas: "nav" "main" "section" "footer"; 
		grid-template-rows: 2% 25% 68% 5%; 
		font-family: 'Quicksand', sans-serif;}

	#carouselExampleCaptions 
	{ background: tomato; }
		
			
