body { padding: 0; margin: 0; overflow-x: hidden; }
.wrapper { height: 5500px; overflow: hidden; display: grid; 
			grid-template-areas: 'nav' 'main' 'section' 'footer'; 
			grid-template-rows: 2% 14% 77% 10%; }


.navegacao { grid-area: nav; display: flex; font-family: 'Roboto', sans-serif; }
	.logo { margin-left: 2em; position: relative; top: 20px; }
	.logo a { color: #ffba93; }	
	.logo img { position: relative; bottom: 40px; }
	.navegacao-lista { display: flex; margin-left: 20em; position: relative; top: 1em;}
	.navegacao-lista li { margin-right: 5em; list-style: none; }
	.navegacao-lista li a { text-decoration: none; color: #ffba93; }
	.navegacao-lista li a:hover { color: #ff8e71; }


.destaque { grid-area: main; background: url('../img/alma_11.jpeg')no-repeat bottom/cover; }
	.svg { position: relative; top: 630px; }
	.whatsapp { color: green; height: 50px; position: fixed; left: 90%; top: 85%; z-index: 10 }

.conteudo { grid-area: section; }
	.conteudo-produtos { height: 16.7%; }
		.btn-loja { position: relative; left: 600px; top: 50px; border: none; border-radius: 30px;
					background: tomato; color: #fff; padding: 1em; font-weight: bold; 
					font-family: 'Lobster', cursive; font-size: 1.3em; }
		.btn-loja:hover { text-decoration: none; color: tomato; background: #fff; 
					border: 1px solid tomato; }
		.conteudo-titulo { z-index: 10; position: relative; top: 50px; left: 290px; color: tomato;
							font-family: 'Lobster', cursive; font-size: 3em; }




	.conteudo-sobre { height: 14.4%; background: linear-gradient(rgba(0,0,0,0.5), 
			rgba(0,0,0,0.5)),url('../img/sobre_00.jpg')no-repeat center/cover; height: 650px; }
		.sobre-titulo { z-index: 10; position: relative; top: 100px; left: 290px; color: #fff;
								font-family: 'Lobster', cursive; font-size: 3em; }
		.conteudo img { height: 300px; }
		.sobre-img-wrapper { display: flex; }

		.sobre-img-1 { display: flex; color: #fff; position: relative; left: 50px; top: 150px; 
					width: 600px; border: 1px solid #fff; border-radius: 5px; line-height: 1.4em;
					height: 300px;}
		.sobre-img-1 p { font-size: 1em; width: 80%; position: relative; left: 50px; top: 10px; }
			.taynara { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

		.sobre-img-2 { display: flex; color: #fff; position: relative; left: 100px; top: 150px; 
					width: 600px; border: 1px solid #fff; border-radius: 5px; line-height: 1.4em;
					height: 300px;}
		.sobre-img-2 p { font-size: 1em; width: 80%; position: relative; left: 50px; top: 10px; }
			.nivia { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

	.conteudo-cta { height: 50%; }		

	.cta-titulo { position: relative; left: 400px; top: 100px; font-size: 3em; color: tomato;
				font-family: 'Lobster', cursive; }
	.container-cta-01, .container-cta-02, .container-cta-03, .container-cta-04 { display: flex; 
		position: relative; top: 200px; }
	.img-cta { z-index: 10; }
	.container-cta-01 img, .container-cta-02 img, .container-cta-03 img, .container-cta-04 img 
				{ border-radius: 10px; }
	.container-cta-01, .container-cta-02, .container-cta-03, .container-cta-04 { position: relative;  
				margin-bottom: 4em; left: 100px; }
	.texto-cta-01, .texto-cta-02, .texto-cta-03, .texto-cta-04 {  
					background: #fff; height: 200px; top: 50px; box-shadow: 10px 10px 10px rgba(0,0,0,0.09); border-radius: 10px;
					width: 700px; color: tomato; text-align: center; padding: 0 4em; }
	.texto-cta-01, .texto-cta-03 { position: relative; right: 50px; }
	.texto-cta-02, .texto-cta-04 { position: relative; left: 50px; }
	.cta-paragrafo { font-size: 1.5em; position: relative; top: 3em; left: 30px; 
				font-family: 'Roboto', sans-serif; font-weight: bold; }
	.btn-cta { position: relative; left: 600px; top: 300px; border: none; border-radius: 30px;
					background: tomato; color: #fff; padding: 1em; font-weight: bold; 
					font-family: 'Lobster', cursive; font-size: 2em; }
	.btn-cta:hover { color: #fff; }

.depoimentos { height: 19%; background: linear-gradient(rgba(0,0,0,0.5), 
			rgba(0,0,0,0.5)),url('../img/rodape_00.jpg')no-repeat bottom/cover; color: #fff; }
	.depoimentos-titulo { z-index: 10; position: relative; top: 80px; left: 550px; color: #fff;
								font-family: 'Lobster', cursive; font-size: 3em; }
	.card_depoimento { display: flex; position: relative; top: 200px; left: 100px; }
	.card_depoimento img { margin-right: 7em; border-radius: 30px; }
	.card_depoimento img:hover {  }

.rodape { grid-area: footer; font-family: 'Roboto', sans-serif; background: #654062; 
			border-top: 3px solid #fff; }
	.rodape-lista { position: relative; top: 50px; list-style: none; color: #fff; }
	.rodape-lista li { margin-bottom: 1em; }
	.rodape-lista li a, .sedex, .endereco, .ads { color: #fff; }
	.rodape-lista li:nth-child(3) { padding-top: 1em; }
	.rodape-lista li:nth-child(4) {   }
	.primeiro-item, .contato { font-size: 1.2em; font-weight: 800; color: #fff; text-decoration: none; }
	.envelope, .phone, .email { color: tomato; margin-left: 1em; }
	.rodape img { position: relative; left: 600px; bottom: 200px; border-radius: 50%; }
	.copyright { position: relative; left: 410px; bottom: 50px; color: #fff; }
	.social-media { position: relative; left: 89.5%; bottom: 450px; }
	.instagram { color: #fff; }
	.ads { position: relative; top: 50px; }
	.ads:hover { text-decoration: underline; }



	/*--------------------------------  MEDIA QUERIE ----------------------------------*/



	@media (max-width: 1100px) {

	/*----------- estilos gerais ------------------------------------------------*/

	.wrapper { height: 6500px; overflow: hidden; display: grid; 
			grid-template-areas: 'nav' 'main' 'section' 'footer'; 
			grid-template-rows: 2% 7% 77% 10%; }


	/*------------ Menu de Navegação --------------------------------------------*/

		.logo img { width: 50px; position: relative; top: 1px; right: 30px; }
		.navegacao-lista { position: relative; right: 270px; font-size: 0.7em; }
		.navegacao-lista li { margin-right: 1.5em; }
		.navegacao-lista li:nth-child(4) { position: relative; right: 200px; top: 50px; }
		.navegacao-lista li:nth-child(5) { position: relative; right: 150px; top: 50px; }

	

	/*------------ Destaque -----------------------------------------------------*/

		.destaque { background: url('../img/red/red_alma_11.jpg')no-repeat; }
		.svg { top: 230px; height: 120px; }



	/*------------ Conteúdo -----------------------------------------------------*/

		.conteudo h1 { left: 50px; font-size: 1.9em; width: 300px; text-align: center;
						bottom: 100px; }
			.conteudo-produtos { height: 35%; position: relative; right: 80px; 
									width: 480px; }
			.carousel-img { display: block; text-align: center; }
			.carousel-img:nth-child(2) { position: relative; bottom: 100px; }
			.carousel-img:nth-child(3) { position: relative; bottom: 200px; }
			.carousel-img:nth-child(4) { position: relative; bottom: 300px; }
			.angle-left { position: relative; left: 110px; }
			.angle-right { position: relative; top: 100px;}

		.conteudo-sobre {  }
	}


	

