.navegacao 
{ background: #fff; height: 80px; width: 100%; position: fixed; z-index: 9999; }

			#check
			{ display: none; }

			nav { background: #0082e6; height: 80px; width: 100%; }

			label.logo{ color: white; font-size: 34px; line-height: 80px; 
			        padding: 0 100px; font-weight: bold; }

			nav ul { float: right; margin-right: 20px; }

			nav ul li { display: inline-block; line-height: 80px; margin: 0 5px; }

			nav ul li a:hover { text-decoration: none; color: white; }

			nav ul li a { color: tomato; font-size: 17px; padding: 7px 13px; 
			        border-radius: 3px; text-transform: uppercase; }

			 nav ul li:target
			 { display: block; position: relative; top: -150px; visibility: hidden; }

			a.ativo, .link:hover { background: tomato; transition: .5s; }

			a.ativo { color: white; cursor: pointer; }

			.checkbtn { font-size: 30px; color: #222; float: right; 
			line-height: 80px; margin-right: 40px; cursor: pointer; display: none; }

			#check { display: none; }