#carouselExampleCaptions 
{ right: 50px; }

.carousel-item 
{ display: flex; width: 90%; }

.item_1 
{ right: 490px; bottom: 220px; }

.item_2 
{ right: 120px; bottom: 220px; }

.item_3 
{ left: 270px; bottom: 220px; }

.item_1, .item_2, .item_3 
{ color: #fff; position: relative; font-size: 1.7em; }

.carousel-item img 
{ width: 250px; height: 250px; margin-top: 10em; margin-right: 2em; position: relative; 
left: 190px; }

.angle-right 
{ position: relative; left: 120px; color: #000; }

.angle-left 
{ position: relative; right: 20px; color: #000; }

.angle-right, .angle-left 
{ top: 70px; }